
.depicter-25:not(.depicter-ready){
	height:700px;
}
.depicter-revert.depicter-25 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-25-element-9 .depicter-arrow-icon{
	fill:#000;
}
.depicter-revert .depicter-25-element-10{
	opacity:0.7;
}
.depicter-25-element-10 .depicter-arrow-icon{
	fill:#000;
}
.depicter-revert .depicter-25-element-49{
	font-size:65px;
	color:#ffffff;
	font-family:"Allison";
	font-weight:400;
	line-height:120%;
	letter-spacing:5px;
	transform:rotate(-90deg);
	background-color:transparent;
}
.depicter-revert .depicter-25-element-48{
	font-size:25px;
	text-align:center;
	color:#343434;
	font-family:"Quicksand";
	font-weight:700;
	line-height:140%;
	background-color:#ffffff;
	border-width:1px;
	border-style:solid;
	border-color:#000;
}
.depicter-revert .depicter-25-element-48:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-25-element-47{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-element-46{
	font-size:80px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-element-8{
	font-size:25px;
	text-align:center;
	color:#000;
	font-family:"Quicksand";
	font-weight:700;
	background-color:#ffffff;
	border-width:2px;
	border-style:solid;
	border-color:#707070;
	border-radius:0px;
}
.depicter-revert .depicter-25-element-8:not(.depicter-hover-off):hover {
	color:#FFFFFF;
	background-color:#222222;
}
.depicter-revert .depicter-25-element-6{
	font-size:18px;
	text-align:center;
	color:#ffffff;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-section-1{
	background-color:#452222;
}
.depicter-revert .depicter-25-element-58{
	font-size:75px;
	color:#ffffff;
	font-family:"Allison";
	font-weight:400;
	line-height:120%;
	letter-spacing:7px;
	transform:rotate(-90deg);
	background-color:transparent;
}
.depicter-revert .depicter-25-element-57{
	font-size:25px;
	text-align:center;
	color:#343434;
	font-family:"Roboto";
	font-weight:700;
	background-color:#ffffff;
	border-width:1px;
	border-style:solid;
	border-color:#000;
}
.depicter-revert .depicter-25-element-57:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-25-element-55{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-element-53{
	font-size:80px;
	text-align:center;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-section-12{
	background-color:#452222;
}
.depicter-revert .depicter-25-element-67{
	font-size:60px;
	color:#ffffff;
	font-family:"Allison";
	font-weight:400;
	line-height:120%;
	letter-spacing:2px;
	transform:rotate(-90deg);
	background-color:transparent;
}
.depicter-revert .depicter-25-element-66{
	font-size:25px;
	text-align:center;
	color:#343434;
	font-family:"Roboto";
	font-weight:700;
	background-color:#ffffff;
}
.depicter-revert .depicter-25-element-66:not(.depicter-hover-off):hover {
	color:#FFF;
	background-color:#222222;
}
.depicter-revert .depicter-25-element-65{
	font-size:15px;
	text-align:center;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:700;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-element-64{
	font-size:80px;
	color:#ffffff;
	font-family:"Open Sans";
	font-weight:600;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-25-section-24{
	background-color:#452222;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-25:not(.depicter-ready){
	height:700px;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-25:not(.depicter-ready){
	height:740px;
}
.depicter-revert .depicter-25-element-8{
	font-size:12px;
	text-align:center;
	color:#000;
	font-family:"Quicksand";
	font-weight:600;
}
.depicter-revert .depicter-25-element-6{
	font-size:12px;
	color:#000000;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
}

}
